.name[b-k18cwhlr3c] {
    color: rgb(170, 51, 106);
    font-family: cursive;
}

.msg[b-k18cwhlr3c] {
    color: rgb(170, 51, 106);
    font-family: cursive;
    margin-top: 590px;
}

.messagesList[b-k18cwhlr3c] {
    font-family: cursive;
    list-style-type: square;
    border: 4px ridge;
    color: rgb(170, 51, 106);
    width: auto; 
}

.messagestyle[b-k18cwhlr3c] {
    border: 4px ridge;
}

.form-group[b-k18cwhlr3c] {
    width: 1090px;
    padding: 5px; 
    background-color: pink;
    border: 4px ridge;
}

.sendme[b-k18cwhlr3c] {
    margin-left: 10px; 
    font-family: cursive;
    color: rgb(170, 51, 106);
}

.sendothers[b-k18cwhlr3c] {
    margin-left: 15px; 
    font-family: cursive;
    color: rgb(170, 51, 106);
}