
EnvironmentalChanges/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
EnvironmentalChanges/obj/Debug/net5.0/EnvironmentalChanges.csproj.AssemblyReference.cache
EnvironmentalChanges/obj/Debug/net5.0/EnvironmentalChanges.GeneratedMSBuildEditorConfig.editorconfig
EnvironmentalChanges/obj/Debug/net5.0/EnvironmentalChanges.RazorAssemblyInfo.cache
EnvironmentalChanges/obj/Debug/net5.0/EnvironmentalChanges.RazorAssemblyInfo.cs
EnvironmentalChanges/obj/Debug/net5.0/EnvironmentalChanges.csproj.AssemblyReference.cache
EnvironmentalChanges/obj/Debug/net5.0/EnvironmentalChanges.csproj.AssemblyReference.cache
EnvironmentalChanges/obj/Debug/net5.0/EnvironmentalChanges.csproj.AssemblyReference.cache
*.cache
