@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Nidhi's Environment Project</h1>
    <p>My name is Nidhikumari Vadodariya</p>
    <p>Student Number is 0788964</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
