.name {
    color: rgb(170, 51, 106);
    font-family: cursive;
}

.msg {
    color: rgb(170, 51, 106);
    font-family: cursive;
    margin-top: 590px;
}

.messagesList {
    font-family: cursive;
    list-style-type: square;
    border: 4px ridge;
    color: rgb(170, 51, 106);
    width: auto; 
}

.messagestyle {
    border: 4px ridge;
}

.form-group {
    width: 1090px;
    padding: 5px; 
    background-color: pink;
    border: 4px ridge;
}

.sendme {
    margin-left: 10px; 
    font-family: cursive;
}

.sendothers {
    margin-left: 15px; 
    font-family: cursive;
}